html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  text-decoration: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:root {
  --font-weight-3: 300;
  --font-weight-4: 400;
  --font-weight-5: 500;
  --font-weight-6: 600;
  --font-weight-7: 700;
  /*  */
  --font-size-14: 14px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-24: 24px;
  --font-size-32: 32px;
  --font-size-36: 36px;
  --font-size-48: 48px;
  /*  */
  --color-black: #000000;
  --ff-Poppins: "Poppins", sans-serif;
  --ff-roboto-condensed: "Roboto Condensed", sans-serif;
  --ff-source: "Source Sans Pro", sans-serif;
}

.wrapper {
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1186px;
  width: 100%;
  margin: 0 auto;
}

.header-scroll-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #00344c;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1019607843);
}

.header {
  display: flex;
  justify-content: space-between;
  max-height: 102px;
  height: 39vw;
  min-height: 90px;
  width: 100%;
  align-items: center;
  text-align: center;
  font-family: var(--ff-Poppins);
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-6);
  line-height: 23px;
}
.header-logo-img {
  vertical-align: middle;
}
.header-navbar-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  gap: 48px;
  text-align: center;
  align-items: center;
  list-style: none;
}
.header-navbar-item {
  line-height: 18px;
}
.header-navbar-country {
  height: 20px;
  width: 33.3333320618px;
  left: 1262px;
  top: 41px;
  border-radius: 0px;
}
.header-navbar-country img {
  vertical-align: middle;
}
.header-navbar-link {
  color: white;
  letter-spacing: 0.032em;
}
.header-navbar-mycart {
  height: 23px;
  width: 23px;
  left: 1190px;
  top: 39px;
  margin-left: 11px;
  margin-right: 1px;
  padding: 1px 13px 1px 13px;
  color: white;
  background-color: #C69E3F;
  border-radius: 2px;
}
.header-navbar-border {
  margin: 0 -18px;
  width: 0.5px;
  height: 15px;
  background-color: white;
}

.icon-select {
  padding: 20px 0;
  margin-left: 6px;
  vertical-align: middle;
  color: white;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  width: 10px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 54px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 54px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 15px;
  color: #CFCFCF;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #CFCFCF;
  font-size: 15px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background: url(1-teaserlogo-classic);
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 20%;
}

.mySwiper {
  height: 10%;
  box-sizing: border-box;
  width: 80%;
  gap: 50px;
  padding-top: 10px;
}

.mySwiper .swiper-slide img {
  padding: 5px;
  margin: 10px 4px;
}

.mySwiper .swiper-slide {
  width: 20%;
  height: 40%;
  border: none;
}

.mySwiper img {
  width: 60px;
  height: 60px;
}

.swiper-backface-hidden .swiper-slide {
  width: 589px;
  padding: 30px 0;
  background-color: black;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  border: 1px solid #A5A5A5;
}

.swiper-slide img {
  display: block;
  width: 50%;
  height: 40%;
  object-fit: cover;
  background-color: black;
}

.product__slider {
  display: block;
  width: 40%;
  height: 100%;
}

.product__details {
  display: flex;
  gap: 115px;
  margin-top: 155px;
}
.product__name {
  margin-top: 50px;
  font-family: var(--ff-roboto-condensed);
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-7);
  line-height: 47px;
  letter-spacing: 0.025em;
}
.product__prices {
  margin: -32px 0 2px 0;
  font-family: var(--ff-Poppins);
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-4);
  line-height: 31px;
  letter-spacing: 0.025em;
}
.product__color {
  display: flex;
}
.product__color--name {
  margin-right: 25px;
}
.product__color--name:nth-child(2), .product__color--name:nth-child(3) {
  margin-top: -2px;
}
.product__color--classic {
  font-family: var(--ff-Poppins);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-6);
  line-height: 18px;
  letter-spacing: 0em;
}
.product__color--classic, .product__color--ebony, .product__color--rose {
  padding-right: 20.25px;
  margin-bottom: -7px;
}
.product__color--brand-c {
  min-width: 72.25px;
  height: 4px;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 48px;
}
.product__color--brand-r, .product__color--brand-e {
  min-width: 72.25px;
  height: 3px;
  border-radius: 15px;
  width: 100%;
  height: 3px;
}
.product__color--brand-c {
  background: linear-gradient(90deg, #1c1b1b -0.02%, #414141 67.2%, #2d2c2c 100.03%);
}
.product__color--brand-e {
  background: linear-gradient(89.96deg, #4b4b4b 1.81%, #a1a1a1 74.47%, #8a8a8a 100.01%);
}
.product__color--brand-r {
  background: linear-gradient(90deg, #bd369f -0.03%, rgba(117, 34, 99, 0.5) 108.05%);
}
.product__count--form {
  display: flex;
  gap: 38px;
  margin-bottom: 29px;
}
.product__count--title {
  font-family: var(--ff-Poppins);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-4);
  line-height: 18px;
  letter-spacing: 0.025em;
}
.product__quantity {
  display: flex;
  justify-content: center;
  max-width: 134px;
  width: 6.8vw;
  text-align: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 24px;
}
.product__quantity--minus, .product__quantity--plus {
  height: 21px;
  width: 10px;
  text-align: center;
  font-family: var(--ff-Poppins);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-6);
  line-height: 21px;
  letter-spacing: 0.025em;
  color: #000000;
  cursor: pointer;
}
.product__quantity--qty {
  max-width: 30px;
  background-color: #ffffff;
  outline: none #ffffff;
  border: solid #ffffff;
  text-align: center;
}
.product__btn--add, .product__btn--order {
  position: relative;
  max-width: 235px;
  width: 40vw;
  height: 48px;
}
.product__btn--add::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 3px;
  background: linear-gradient(to right, #957327 0%, #dfc47a 100%);
  -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.product__btn--add {
  margin-right: 16px;
  color: #cb9d37;
}
.product__btn--order {
  color: white;
  border-radius: 30px;
  background: linear-gradient(to right, #957327 0%, #dfc47a 100%);
}
.product__btn--add, .product__btn--order {
  padding: 13.5px 77px;
}
.product__content {
  margin-top: 61px;
  font-family: var(--ff-Poppins);
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-4);
  line-height: 24px;
  letter-spacing: 0em;
}
.product__content--text {
  margin-bottom: 25px;
}
.product__content--name {
  font-weight: var(--font-weight-7);
}

.tabs__name {
  display: flex;
  justify-content: center;
  margin-top: 77px;
  gap: 48px;
  font-family: var(--ff-roboto-condensed);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-4);
  line-height: 23px;
  letter-spacing: 0.025em;
}
.tabs__name .tablinks::after {
  position: absolute;
  top: 37.3px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background-color: black;
}
.tabs__name .tablinks.active::after {
  width: 100%;
  height: 3px;
}
.tabs__name .tablinks.active {
  color: #CB9D37;
}
.tabs__name--london {
  color: #A5A5A5;
}
.tabs__name--Paris {
  color: #A5A5A5;
}
.tabs__name .tablinks {
  position: relative;
}
.tabs__hr {
  height: 1px;
  width: 100%;
  margin-top: -3px;
  background-color: #ccc;
}
.tabs__content {
  max-width: 785px;
  min-width: 280px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 106px;
  font-family: var(--ff-Poppins);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-4);
  list-style: block;
  line-height: 24px;
  letter-spacing: 0em;
}
.tabs__content ul {
  margin: 0;
}
.tabs__text {
  margin-bottom: 40px;
}
.tabs__title {
  margin: 0;
  padding-left: 20px;
  font-family: var(--ff-Poppins);
  font-weight: var(--font-weight-7);
  font-size: var(--font-size-24);
  line-height: 36px;
}
.tabs__define {
  margin-top: 0;
}
.tabs__define:nth-child(4) {
  margin-bottom: 0;
}
.tabs__warranty {
  margin: 0;
  gap: 25px;
  font-family: var(--ff-Poppins);
  font-weight: var(--font-weight-7);
  font-size: var(--font-size-16);
  line-height: 24px;
}
.tabs__policy {
  margin: 0;
}

.product__our {
  margin-bottom: 106px;
}
.product__our--title, .product__other--title {
  text-align: center;
  align-items: center;
}
.product__our--title {
  margin-bottom: 28px;
  font-family: var(--ff-roboto-condensed);
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-7);
  line-height: 42px;
  letter-spacing: 0.025em;
}
.product__pair, .product__other--colections {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.product__card {
  position: relative;
  max-width: 585px;
  min-width: 280px;
  width: 100%;
  background: #FAFAFA;
  border-radius: 3px;
}
.product__card--content {
  justify-content: center;
  padding: 47px 0 48px 0;
  text-align: center;
  align-items: center;
}
.product__card--title {
  margin: 12px 0 16px 0;
  font-family: var(--ff-Poppins);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-6);
  line-height: 23px;
  letter-spacing: 0.025em;
}
.product__card--prices {
  margin-bottom: 53px;
  font-family: var(--ff-Poppins);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-4);
  line-height: 27px;
  letter-spacing: 0em;
  color: #525252;
}
.product__card--add {
  font-family: var(--ff-Poppins);
  font-size: 12px;
  font-weight: var(--font-weight-6);
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #CB9D37;
}

.product__other {
  padding-top: 38px;
  padding-bottom: 74px;
  background-color: #F2F2F2;
}
.product__other--title {
  margin-bottom: 28px;
  font-family: var(--ff-roboto-condensed);
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-7);
  line-height: 42px;
  letter-spacing: 0.025em;
  color: #001A31;
}
.product__other--img, .product__other--card {
  position: relative;
  max-width: 585px;
  min-width: 280px;
  width: 100%;
  vertical-align: middle;
}
.product__other--name {
  position: absolute;
  bottom: 24px;
  left: 32px;
  font-family: var(--ff-roboto-condensed);
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0em;
  line-height: 26px;
}
.product__other--brand {
  font-weight: var(--font-weight-3);
}
.product__other--discription {
  font-weight: var(--font-weight-7);
}

.customer__service {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 10px 0 12px 0;
  background-color: #00344C;
  color: #FFFFFF;
  font-family: var(--ff-Poppins);
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-align: left;
}
.customer__service--phone {
  display: flex;
  padding: 0 20.2px;
  gap: 16px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}
.customer__service--border {
  width: 1px;
  height: 15px;
  background-color: white;
}
.customer__service--phone, .customer__service--hotline {
  font-family: var(--ff-Poppins);
  font-size: 12px;
  font-weight: var(--font-weight-6);
  line-height: 14px;
  letter-spacing: 0.05em;
}
.customer__service--time {
  font-family: var(--ff-Poppins);
  font-size: 12px;
  font-weight: var(--font-weight-4);
  line-height: 14px;
  letter-spacing: 0.05em;
}
.customer__service--img {
  height: 16px;
  width: 16px;
  margin-top: 12px;
}

.information {
  padding: 65px 0 15px 0;
  text-align: center;
  align-items: center;
  background-color: #B69046;
}
.information__icon {
  margin-top: -2px;
  margin-bottom: -5px;
}
.information__icon-img:nth-child(2) {
  margin: 0 48px 0 49.25px;
}
.information__website--list {
  display: flex;
  justify-content: center;
  gap: 49px;
  font-family: var(--ff-Poppins);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-4);
  line-height: 21px;
  letter-spacing: 0em;
  list-style: none;
}
.information__website--link, .information__website--item {
  color: white;
}
.information__website--item:nth-child(2), .information__website--item:nth-child(4), .information__website--item:nth-child(6), .information__website--item:nth-child(8), .information__website--item:nth-child(10) {
  width: 1px;
  height: 16px;
  margin-top: 3px;
  background-color: white;
}
.information__website {
  margin: 50px 0 60px 0;
}
.information__copy {
  color: white;
  margin-bottom: -13px;
  font-family: var(--ff-source);
  font-size: 13px;
  font-weight: var(--font-weight-4);
  line-height: 16px;
  letter-spacing: 0em;
}

/*# sourceMappingURL=app.css.map */
