:root {
    --font-weight-3: 300;
    --font-weight-4: 400;
    --font-weight-5: 500;
    --font-weight-6: 600;
    --font-weight-7: 700;
    /*  */
    --font-size-14: 14px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-24: 24px;
    --font-size-32: 32px;
    --font-size-36: 36px;
    --font-size-48: 48px;
    /*  */
    --color-black: #000000;
    --ff-Poppins: 'Poppins', sans-serif;
    --ff-roboto-condensed: 'Roboto Condensed', sans-serif;
    --ff-source: 'Source Sans Pro', sans-serif;

}

.wrapper {
    margin: 0 auto;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 1186px;
    width: 100%;
    margin: 0 auto;
}

.header {
  
    display: flex;
    justify-content: space-between;
    max-height: 102px;
    height: 39vw;
    min-height: 90px;
    width: 100%;
    align-items: center;
    text-align: center;
    font-family: var(--ff-Poppins);
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-6);
    line-height: 23px;

}

.header-logo-img{
    vertical-align: middle;
}

.header-scroll-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    /* background-color: white; */
    box-shadow: 0px 0px 4px 0px #0000001A;
}
.header-navbar-country img{
    vertical-align: middle;
}

.header-navbar-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 48px;
    text-align: center;
    align-items: center;
    list-style: none;
}

.header-navbar-item {
    line-height: 18px;
}

.header-navbar-link {
    color: #FFFF;
    letter-spacing: 0.032em;
}

.header-navbar-border {
    margin: 0 -18px;
    width: 0.5px;
    height: 15px;
    background-color: white;
}

.header-navbar-mycart {
    height: 23px;
    width: 23px;
    left: 1190px;
    top: 39px;
    margin-left: 11px;
    margin-right: 1px;
    padding: 1px 13px 1px 13px;
    color: white;
    background-color: #C69E3F;
    border-radius: 2px;
}

.icon-select {  
    padding: 20px 0;
    margin-left: 6px;
    vertical-align: middle;
    color: white;
    border-radius: nullpx;
}

.header-navbar-country {
    height: 20px;
    width: 33.33333206176758px;
    left: 1262px;
    top: 41px;
    border-radius: 0px;
}

.header-scroll-fixed {
    background-color: #00344C;
}

a {
    text-decoration: none
}

.product__details {
    display: flex;
    gap: 115px;
}

.product__details {
    margin-top: 155px;
}

.product__name {
    margin-top: 50px;
    font-family: var(--ff-roboto-condensed);
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-7);
    line-height: 47px;
    letter-spacing: 0.025em;
}

.product__prices {
    margin: -32px 0 2px 0;
    font-family: var(--ff-Poppins);
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-4);
    line-height: 31px;
    letter-spacing: 0.025em;
}

.product__color--classic {
    font-family: var(--ff-Poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-6);
    line-height: 18px;
    letter-spacing: 0em;
}

.product__color--rose,
.product__color--ebony {
    font-family: var(--ff-Poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-4);
    line-height: 18px;
    letter-spacing: 0em;
}

.product__color {
    display: flex;
}

.product__color--name {
    margin-right: 25px;
}

.product__color--classic,
.product__color--ebony,
.product__color--rose {
    padding-right: 20.25px;
    margin-bottom: -7px;
}

.product__color--brand-c,
.product__color--brand-r,
.product__color--brand-e {
    min-width: 72.25px;
    height: 4px;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 48px;
}

.product__color--brand-c {
    background: linear-gradient(90deg, #1C1B1B -0.02%, #414141 67.2%, #2D2C2C 100.03%);
}

.product__color--brand-e {
    background: linear-gradient(89.96deg, #4B4B4B 1.81%, #A1A1A1 74.47%, #8A8A8A 100.01%);
}

.product__color--brand-r {
    background: linear-gradient(90deg, #BD369F -0.03%, rgba(117, 34, 99, 0.5) 108.05%);

}

/* -------- */

.product__count--form {
    display: flex;
    gap: 38px;

}

.product__count--title {
    font-family: var(--ff-Poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-4);
    line-height: 18px;
    letter-spacing: 0.025em;

}

.product__quantity {
    display: flex;
    justify-content: center;
    max-width: 134px;
    width: 6.8vw;
    text-align: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 24px;

}

.product__quantity--minus,
 .product__quantity--plus {
    height: 21px;
    width: 10px;
    text-align: center;
    font-family: var(--ff-Poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-6);
    line-height: 21px;
    letter-spacing: 0.025em;
    color: #000000;
    cursor: pointer;
}

.product__quantity--qty {
    max-width: 30px;
    background-color: #FFFFFF;
    outline: none #FFFFFF;
    border: solid #FFFFFF;
    text-align: center;
}

.product__btn--add,
.product__btn--order {
    position: relative;
    max-width: 235px;
    width: 40vw;
    height: 48px;
}

.product__btn--add::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px;
    padding: 3px;
    background: linear-gradient(to right, #957327 0%, #DFC47A 100%);
    -webkit-mask:
        linear-gradient(white 0 0) content-box,
        linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.product__btn--add {
    color: #CB9D37;
}

.product__btn--order {
    color: white;
    border-radius: 30px;
    background: linear-gradient(to right, #957327 0%, #DFC47A 100%);
}

.product__btn--add,
.product__btn--order {
    padding: 13.5px 77px;

}

.product__btn--add {
    margin-right: 16px;
}

.product__count--form {
    margin-bottom: 29px;
}

.product__content {
    margin-top: 61px;
    font-family: var(--ff-Poppins);
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-4);
    line-height: 24px;
    letter-spacing: 0em;
}
.product__content--text{
    margin-bottom: 25px;
}
.product__content--name {
    font-weight: var(--font-weight-7);
}

#Paris {
    display: none;
}

.tabs__name {
    display: flex;
    justify-content: center;
    margin-top: 77px;
    gap: 48px;
    font-family: var(--ff-roboto-condensed);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-4);
    line-height: 23px;
    letter-spacing: 0.025em;

}

.tabs__name--london {
    color: #A5A5A5;
}

.tabs__name--Paris {
    color: #A5A5A5;
}

.tabs__content {
    max-width: 785px;
    min-width: 280px;
    padding: 0 201px;
    font-family: var(--ff-Poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-4);
    line-height: 24px;
    letter-spacing: 0em;

}

.tabs__hr {
    height: 1px;
    width: 100%;
    margin-top: -3px;
    background-color: #ccc;
}

.tabs__name .tablinks {
    position: relative;
}
.tabs__content{
    margin-top: 48px;
    margin-bottom: 106px;
}
.tabs__define{
    margin-top: 0;
}
.tabs__text{
    margin-bottom: 40px;
}
.tabs__warranty{
    margin: 0;
    gap: 25px;
    font-family: var(--ff-Poppins);
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-16);
    line-height: 24px;
}
.tabs__content ul,.tabs__policy{
    margin: 0;
}
.tabs__title{
    margin: 0;
    padding-left: 20px;
    font-family: var(--ff-Poppins);
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-24);
    line-height: 36px;
}
.tabs__name .tablinks::after {
    position: absolute;
    top: 37.3px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background-color: black;
}

.tabs__name .tablinks.active::after {
    width: 100%;
    height: 3px;
}

.tabs__name .tablinks.active {
    color: #CB9D37;
}

.product__other--title,
.product__our--title {
    text-align: center;
    align-items: center;
}

.product__our--title {
    margin-bottom: 28px;
    font-family: var(--ff-roboto-condensed);
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-7);
    line-height: 42px;
    letter-spacing: 0.025em;
}

.product__other--colections,
.product__pair {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.product__our {
    margin-bottom: 106px;
}

.product__card {
    position: relative;
    max-width: 585px;
    min-width: 280px;
    width: 100%;
    background: #FAFAFA;
    border-radius: 3px;
}

.product__card--content {
    justify-content: center;
    padding: 47px 0 48px 0;
    text-align: center;
    align-items: center;
}

.product__card--title {
    margin: 12px 0 16px 0;
    font-family: var(--ff-Poppins);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-6);
    line-height: 23px;
    letter-spacing: 0.025em;

}

.product__card--prices {
    margin-bottom: 53px;
    font-family: var(--ff-Poppins);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-4);
    line-height: 27px;
    letter-spacing: 0em;
    color: #525252;
}

.product__card--add {
    font-family: var(--ff-Poppins);
    font-size: 12px;
    font-weight: var(--font-weight-6);
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #CB9D37;
}

.product__other--title {
    margin-bottom: 28px;
    font-family: var(--ff-roboto-condensed);
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-7);
    line-height: 42px;
    letter-spacing: 0.025em;
    color: #001A31;


}

.product__other--card,
.product__other--img {
    position: relative;
    max-width: 585px;
    min-width: 280px;
    width: 100%;
    vertical-align: middle;
}

.product__other--name {
    position: absolute;
    bottom: 24px;
    left: 32px;
    font-family: var(--ff-roboto-condensed);
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0em;
    line-height: 26px;

}

.product__other--brand {
    font-weight: var(--font-weight-3);
}

.product__other--discription {
    font-weight: var(--font-weight-7);
}

.product__other {
    padding-top: 38px;
    padding-bottom: 74px;
    background-color: #F2F2F2;
}

.customer__service {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 10px 0 12px 0;
    background-color: #00344C;
    color: #FFFFFF;
    font-family: var(--ff-Poppins);
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: left;
}

.customer__service--phone {
    display: flex;
    padding: 0 20.2px;
    gap: 16px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;

}

.information {
    padding: 65px 0 15px 0;
    text-align: center;
    align-items: center;
    background-color: #B69046;
}

.customer__service--border {
    width: 1px;
    height: 15px;
    background-color: white;
}

.customer__service--hotline,
.customer__service--phone {
    font-family: var(--ff-Poppins);
    font-size: 12px;
    font-weight: var(--font-weight-6);
    line-height: 14px;
    letter-spacing: 0.05em;
}

.customer__service--time {
    font-family: var(--ff-Poppins);
    font-size: 12px;
    font-weight: var(--font-weight-4);
    line-height: 14px;
    letter-spacing: 0.05em;
}
.information__icon{
    margin-top: -2px;
    margin-bottom: -5px;
}
.information__icon-img:nth-child(2) {
    margin: 0 48px 0 49.25px;
}

.information__website--list {
    display: flex;
    justify-content: center;
    gap: 49px;
    font-family: var(--ff-Poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-4);
    line-height: 21px;
    letter-spacing: 0em;
    list-style: none;
}

.information__website--item .information__website--link {
    color: white;
}

.information__website--item:nth-child(2),
.information__website--item:nth-child(4),
.information__website--item:nth-child(6),
.information__website--item:nth-child(8),
.information__website--item:nth-child(10) {
    width: 1px;
    height: 16px;
    margin-top: 3px;
    background-color: white;
}

.customer__service--img {
    height: 16px;
    width: 16px;
    margin-top: 12px;
}

.information__website {
    margin: 50px 0 60px 0;
}

.information__copy {
    color: white;
    margin-bottom: -13px;
    font-family: var(--ff-source);
    font-size: 13px;
    font-weight: var(--font-weight-4);
    line-height: 16px;
    letter-spacing: 0em;
}

/* ---------- */