.customer {
    &__service {
        display: flex;
        justify-content: center;
        gap: 32px;
        padding: 10px 20px 12px 20px;
        background-color: #00344C;
        color: #FFFFFF;
        font-family: var(--ff-Poppins);
        font-size: 12px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: 0.05em;
        text-align: left;
    }

    &__service--phone {
        display: flex;
        padding: 0 20.2px;
        gap: 16px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 3px;
        color: #FFFFFF;

    }

    &__service--border {
        width: 1px;
        height: 15px;
        background-color: white;
    }

    &__service--phone,
    &__service--hotline {
        font-family: var(--ff-Poppins);
        font-size: 12px;
        font-weight: var(--font-weight-6);
        line-height: 14px;
        letter-spacing: 0.05em;

    }

    &__service--time {
        font-family: var(--ff-Poppins);
        font-size: 12px;
        font-weight: var(--font-weight-4);
        line-height: 14px;
        letter-spacing: 0.05em;
    }

    &__service--img {
        height: 16px;
        width: 16px;
        margin-top: 12px;
    }
}

.information {
    padding: 65px 0 15px 0;
    text-align: center;
    align-items: center;
    background-color: #B69046;

    &__icon {
        margin-top: 0px;
        margin-bottom: 1px;

        &--img {
            width: 30px;
            height: 30px;
            vertical-align: middle;
        }

        &--link:nth-child(2) {
            margin: 0 44px 0 45.25px;
        }
    }

    &__website--list {
        display: flex;
        justify-content: center;
        gap: 49px;
        padding: 0 20px;
        font-family: var(--ff-Poppins);
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-4);
        line-height: 21px;
        letter-spacing: 0em;
        list-style: none;
    }

    &__website--link,
    &__website--item {
        color: white;
    }

    &__website--item {

        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(6),
        &:nth-child(8),
        &:nth-child(10) {
            width: 1px;
            height: 16px;
            margin-top: 3px;
            background-color: white;
        }
    }

    &__website {
        margin: 50px 0 60px 0;
    }

    &__copy {
       
        margin-bottom: -13px;
       
        &--right{
            font-family: var(--ff-source);
            color: white;
            font-size: 13px;
            font-weight: var(--font-weight-4);
            line-height: 16px;
            letter-spacing: 0em;

        }
    }
}

