.scroll {
    transition: 0.5s;
    background-color: #000000 !important;
    height: 70px;

    & .header {
        padding: 0;
        transition: 0.5s;

        & .header-logo-img {
            transition: 0.5s;
            height: 50px;

            vertical-align: middle;
            object-fit: contain;

        }
    }
}


.header-hamburger {
    display: none;
}

.scroll__fixed--nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #00344c;
    box-shadow: 0px 0px 4px 0px #0000001a;

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;

    align-items: center;
    text-align: center;
    font-family: var(--ff-Poppins);
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-6);
    transition: 0.5s;

    &-logo-img {
    
        height: 70px;

        vertical-align: middle;
        transition: 0.5s;
    }

    &-navbar-list {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        gap: 48px;

        line-height: 22px;
        text-align: center;
        align-items: center;
        list-style: none;
    }

    &-navbar-item {
        line-height: 18px;

        & .header-navbar-icon {
            width: 12px;
            height: 5px;
            margin-left: 6px;

            vertical-align: middle;
            color: white;
            object-fit: contain;
        }
    }

    &-navbar-item:nth-child(8) {
        display: flex !important;
        justify-content: center;
        gap: 15px;

        text-align: center;
        align-items: center;

    }

    &-navbar-item:nth-child(9) {
        display: flex;
        justify-content: center;
        gap: 5px;

        align-items: center;

    }

    &-navbar-country {
        height: 20px;
        width: 33.33333206176758px;
        left: 1262px;
        top: 41px;

        border-radius: 0px;

        &--img {
            vertical-align: middle;
        }
    }

    &-navbar-link {
        color: #ffff;
        letter-spacing: 0.035em;
    }

    &-navbar-mycart {
        display: flex;
        justify-content: center;
        height: 23px;
        width: 23px;
        margin-right: 1px;

        text-align: center;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0em;

        color: white;
        background-color: #C69E3F;
        border-radius: 2px;
    }

    &-navbar-card {
        display: none;
    }

    &-navbar-border {
        margin: 0 -19px;
        width: 0.5px;
        height: 15px;

        background-color: #D8D8D8;

    }

}