.header-hamburger {
    display: none;
}

.scroll__fixed--nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #00344c;
    box-shadow: 0px 0px 4px 0px #0000001a;
}

.header {
    display: flex;
    justify-content: space-between;
    max-height: 102px;
    height: 39vw;
    min-height: 90px;
    align-items: center;
    text-align: center;
    font-family: var(--ff-Poppins);
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-6);
    // line-height: 23px;

    &-logo-img {
        max-width: 115px;
        min-width: 60px;
        width: 40vw;
        max-height: 70px;
        vertical-align: middle;
    }

    &-navbar-list {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        gap: 48px;
        line-height: 19px;
        text-align: center;
        align-items: center;
        list-style: none;
    }

    &-navbar-item {
        line-height: 18px;

        & i {
            vertical-align: middle;
            color: white;
            font-size: 12px;
        }
    }

    &-navbar-item:nth-child(8) {
        display: flex !important;
        justify-content: center;
        gap: 15px;
        text-align: center;
        align-items: center;

    }
    &-navbar-item:nth-child(9){
        display: flex;
        gap: 11px;

    }

    &-navbar-country {
        height: 20px;
        width: 33.33333206176758px;
        left: 1262px;
        top: 41px;
        border-radius: 0px;

        &--img {
            vertical-align: middle;
        }
    }

    &-navbar-link {
        color: #ffff;
        letter-spacing: 0.035em;
    }

    &-navbar-mycart {
        display: flex;
        justify-content: center;
        height: 23px;
        width: 23px;   
        margin-right: 1px;   
        text-align: center;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0em;
     

        color: white;
        background-color: #C69E3F;
        border-radius: 2px;
    }

    &-navbar-card {
        display: none;
    }

    &-navbar-border {
        margin: 0 -18px;
        width: 0.5px;
        height: 15px;
        background-color: #D8D8D8;
        ;
    }

}

.icon-select {
    // padding: 20px 0;
    width: 5px;
    height: 8px;
    margin-left: 6px;
    vertical-align: middle;
    color: white;
}