.contact {
    z-index: 1;
    right: 16px;
    bottom: 20px;
    position: fixed;

    &__store {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &--mes {
            color: #357FFF;

        }

        &--call {
            color: #002A3A;

        }

        &--mes,
        &--call {          
            max-width: 64px;

            min-width: 44px;
            min-height: 44px;

            display: flex;         
            justify-content: center;
            align-items: center;

            border-radius: 32px;          
            box-shadow: 4px 4px 16px 0px #0000001A;
            background: #FFFFFF;
            font-size: 25px;
            cursor: pointer;
            transform: 0.4s;

        }
    }
}
