.product {
    &__our {
        margin-bottom: 106px;
        padding: 0 var(--padding-20);

    }

    &__our--title,
    &__other--title {
        text-align: center;
        align-items: center;
    }

    &__our--title {
        margin-bottom: 28px;

        font-family: var(--ff-roboto-condensed);
        font-size: var(--font-size-36);
        font-weight: var(--font-weight-7);
        line-height: 42px;
        letter-spacing: 0.025em;
    }

    &__pair,
    &__other--colections {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    &__card {
        max-width: 585px;
        min-width: 180px;
        width: 100%;

        background: #FAFAFA;
        border-radius: 3px;

        &--link-phone {
            & .product__card--img {
                max-width: 50px;
                width: 20vw;
                max-height: 120px;
                height: 30vw;
            }

        }

        &--link-charger {
            & .product__card--img {
                max-width: 78px;
                width: 30vw;
                max-height: 120px;
                height: 30vw;
            }


        }

        &--content {
            justify-content: center;
            padding: 47px 0 48px 0;

            text-align: center;
            align-items: center;
        }

        &--title {
            margin: 12px 0 16px 0;

            font-family: var(--ff-Poppins);
            font-size: var(--font-size-18);
            font-weight: var(--font-weight-6);
            line-height: 23px;
            letter-spacing: 0.025em;

        }

        &--prices {
            margin-bottom: 53px;
            
            font-family: var(--ff-Poppins);
            font-size: var(--font-size-18);
            font-weight: var(--font-weight-4);
            line-height: 27px;
            letter-spacing: 0em;
            color: #525252;
        }


        &--add {
            font-family: var(--ff-Poppins);
            font-size: 12px;
            font-weight: var(--font-weight-6);
            line-height: 18px;
            letter-spacing: 0.05em;
            color: #CB9D37;
        }

    }

}