@media screen and (max-width:1200px) {

    :root {
        --font-weight-3: 200;
        --font-weight-4: 200;
        --font-weight-5: 300;
        --font-weight-6: 400;
        --font-weight-7: 600;
        /*  */
        --font-size-14: 12px;
        --font-size-15: 13px;
        --font-size-16: 14px;
        --font-size-18: 16px;
        --font-size-24: 20px;
        --font-size-32: 30px;
        --font-size-36: 34px;
        --font-size-48: 46px;
        /*  */

    }

    .header {
        & &-navbar-list {

            gap: 38px;

        }
    }

    .product {
        &__details {
            padding: 0 var(--padding-20);

        }


        &__quantity {
            width: 13vw;


        }
    }

    .store__phone {

        &--call,
        &--mes {
            margin-left: 0;
        }

    }

    .product {
        &__btn {

            &--add,
            &--order {
                padding: 10.5px 60px;
            }
        }
    }


    .swiper {
        &-slide &-backface-hidden {
            width: 420px;
            padding: 20px 0;
            border-radius: 10px;
            background-color: black;
        }
    }

    .product__slider {
        display: block;
        width: 60%;
        height: 80%;

    }
}

@media screen and (max-width:1160px) {
    .header {
        padding: 0 15px;
    }

    .product {
        &__btn {

            &--add,
            &--order {
                padding: 12.5px 50px;
            }
        }


        &__quantity {
            width: 13vw;


        }
    }
}

@media screen and (max-width:1120px) {
    :root {
        --font-size-36: 30px;

    }

    .product {
        &__btn {

            &--add,
            &--order {
                padding: 10.5px 40.5px;
            }
        }

        &__name {
            font-size: var(--font-size-36);
        }


        &__quantity {
            width: 13vw;


        }
    }
}


@media screen and (max-width:1080px) {
    :root {
        --font-weight-3: 200;
        --font-weight-4: 200;
        --font-weight-5: 300;
        --font-weight-6: 400;
        --font-weight-7: 600;
        /*  */
        --font-size-14: 12px;
        --font-size-15: 13px;
        --font-size-16: 14px;
        --font-size-18: 16px;
        --font-size-24: 20px;
        --font-size-32: 30px;
        --font-size-28: 28px;
        --font-size-48: 46px;

    }


    .product {
        &__btn {

            &--add,
            &--order {
                padding: 10.5px 20.6px;
            }
        }

        &__name {
            font-size: var(--font-size-28);
            // font-weight: var(--font-weight-7);
            // line-height: 47px;
            // letter-spacing: 0.025em;
        }

        &__details {
            gap: 90px;

        }


        &__quantity {
            width: 13vw;


        }


    }

}

// ------------------------

@media screen and (max-width:1024px) {
    :root {
        --font-size-14: 12px;
        --font-size-15: 13px;
        --font-size-16: 14px;
        --font-size-18: 16px;
        --font-size-24: 20px;
        --font-size-32: 30px;
        --font-size-36: 28px;
        --font-size-48: 46px;

    }

    .product {
        &__name {
            font-size: var(--font-size-36);

        }


        &__quantity {
            width: 13vw;


        }
    }
}


// ------
@media screen and (max-width:992px) {

    :root {
        --font-weight-3: 200;
        --font-weight-4: 200;
        --font-weight-5: 300;
        --font-weight-6: 400;
        --font-weight-7: 600;
        /*  */
        --font-size-14: 12px;
        --font-size-15: 13px;
        --font-size-16: 14px;
        --font-size-18: 16px;
        --font-size-24: 20px;
        --font-size-28: 28px;
        --font-size-32: 30px;
        --font-size-36: 34px;
        --font-size-48: 46px;
        /*  */

    }

    // .header {
    //     padding: 0 20px;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;

    //     &-hamburger {
    //         display: block;
    //         cursor: pointer;

    //         &-line {
    //             width: 30px;
    //             height: 5px;
    //             background-color: white;
    //             border-radius: 15px;
    //             margin: 6px 0;
    //         }
    //     }


    //     &-navbar {
    //         width: 50vw;
    //         height: 0;
    //         position: absolute;
    //         top: 100%;
    //         left: 0;
    //         background-color: white;
    //         box-shadow: 0 0 5px rgb(0, 0, 0, 30%);
    //         transition: 0.5s;
    //         overflow: hidden;
    //         z-index: 10;

    //         &-card {
    //             display: block;
    //             justify-content: space-between;
    //             display: flex;
    //             justify-content: center;
    //             padding: 0;
    //             list-style: none;

    //             & .header-navbar-link {
    //                 color: white;
    //             }

    //             & .header-navbar-item {
    //                 top: 10px;
    //                 display: flex;
    //                 justify-content: center;
    //                 flex-direction: row;
    //                 gap: 10px;
    //                 list-style: none;
    //                 padding: 0;
    //             }

    //             & .header-navbar-mycart {
    //                 margin: 0 !important;
    //             }

    //         }

    //         &-item {
    //             margin: auto;
    //             padding: 15px;
    //         }

    //         &-item:nth-child(8) {
    //             display: none;

    //         }

    //         &-list {
    //             display: block;
    //             width: fit-content;
    //             margin: 50px auto;
    //             padding: 0px;
    //             text-align: center;
    //             transition: 0.5s;
    //             opacity: 1;
    //         }

    //         &-link {
    //             // height: 450px;
    //             // margin-bottom: 12px;
    //             color: #000000;
    //         }


    //     }


    // }

    // .icon-select {
    //     background-color: #000000;
    // }

    .mycart {
        display: none;
    }

    .header {
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-hamburger {
            display: block;
            cursor: pointer;

            &-line {
                width: 20px;
                height: 2px;
                background-color: white;
                border-radius: 15px;
                margin: 6px 0;
            }
        }

        &-navbar {
            width: 50vw;
            height: 0;
            position: absolute;
            top: 100%;
            left: 0;
            background: #00344C;

            box-shadow: 0 0 5px rgb(0, 0, 0, 30%);
            transition: 0.5s;
            overflow: hidden;
            z-index: 99;

            &-link:nth-child(8) {
                display: none;
            }

            &-card {
                justify-content: space-between;
                display: flex;
                justify-content: center;
                padding: 0;
                list-style: none;

                & .header-navbar-link {
                    color: white;
                    height: 0;
                }

                & .header-navbar-item {
                    padding: 0;
                    top: 10px;
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    gap: 10px;
                    list-style: none;

                }

                & .header-navbar-mycart {
                    margin: 0 !important;
                }

            }

            &-item {
                margin: auto;
                padding: 15px;
            }


            &-list {
                display: block;
                width: fit-content;
                margin: 50px auto;
                padding: 0px;
                text-align: center;
                transition: 0.5s;
                opacity: 1;

            }

            &-border {
                display: none;
            }

            &-link {
                height: 450px;
                margin-bottom: 12px;
                color: #000000;
            }


        }


    }

    .icon-select {
        background-color: #000000;
    }


    .product {
        &__slider {
            width: 50%;
        }

        &__details {
            margin-top: 120px;
            gap: 60px;

        }

        &__name,
        &__our--title,
        &__other--title {
            font-size: var(--font-size-28);
        }

        &__our--title {
            margin-top: 0;
        }
    }

    .mySwiper {
        width: 90%;

    }

    .mySwiper2 {
        height: 468px;
    }

    .swiper-button-next,
    .swiper-button-prev {

        top: 250px;

    }

    .tabs {
        &__name {
            margin-top: 40px;
        }

        &__content {
            margin-top: 40px;
            margin-bottom: 106px;
            padding: 0 40px;
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-4);

        }
    }

    .product__details {
        gap: 40px;
    }

    .customer {
        &__service {
            gap: 10px;
            font-size: 8px;
            font-weight: 100;

            &--phone {
                padding: 0 10px;
                gap: 5px;
            }
        }
    }

    .information {
        &__website--list {
            gap: 35px;
        }
    }
}


@media screen and (max-width:768px) {

    .mySwiper2 {
        height: 368px;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        top: 184px;

    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {

        top: 184px;

    }

    .product {
        &__name {
            margin-top: 20px;

        }

        &__color--brand-c {
            margin-bottom: 25px;
        }

        &__content {
            margin-top: 35px;
        }

        &__details {
            padding: var(--padding-20);
        }
    }

    .tabs {
        &__text {
            margin-bottom: 10px;
        }
    }

    .customer {

        &__service {
            gap: 30px;

            &--border {
                display: none;
            }

            &--phone,
            &--time,
            &--hotline {
                font-size: 10px;
                // width: 20vw;
            }
        }
    }

    .information__website--list {
        gap: 30px;
    }
}

@media screen and (max-width:700px) {

    :root {
        --font-weight-3: 200;
        --font-weight-4: 200;
        --font-weight-5: 300;
        --font-weight-6: 400;
        --font-weight-7: 600;
        /*  */
        --font-size-14: 12px;
        --font-size-15: 13px;
        --font-size-16: 14px;
        --font-size-18: 16px;
        --font-size-24: 20px;
        --font-size-28: 28px;
        --font-size-32: 30px;
        --font-size-36: 34px;
        --font-size-48: 46px;
        /*  */

    }

    .mySwiper2 {
        height: 300px;
        width: 300px;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        top: 164px;

    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {

        top: 164px;

    }

    .product {
        &__name {
            font-size: var(--font-size-24);
        }

        &__details {
            margin-top: 120px;
            gap: 40px;
        }

        &__color {
            display: inline-block;
        }

        &__content {
            margin-top: 45px;
            margin-left: -310px;
        }

    }
}

@media screen and (max-width:680px) {
    :root {
        --font-weight-3: 200;
        --font-weight-4: 200;
        --font-weight-5: 300;
        --font-weight-6: 400;
        --font-weight-7: 600;
        /*  */
        --font-size-14: 12px;
        --font-size-15: 13px;
        --font-size-16: 14px;
        --font-size-18: 16px;
        --font-size-24: 20px;
        --font-size-28: 28px;
        --font-size-32: 30px;
        --font-size-36: 34px;
        --font-size-48: 46px;
        /*  */

    }

    .mySwiper2 {
        height: 80%;
        width: 80%;

    }

    .mySwiper {
        width: 70%;

    }

    .swiper-button-next,
    .swiper-button-prev {

        top: 224px;

    }

    .product {

        &__slider {
            width: 100%;
        }

        &__details {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: justify;
        }

        &__color {
            display: flex;
        }

        &__name {
            margin-top: -20px;
            font-size: var(--font-size-28);
        }

        &__quantity {
            width: 27vw;
        }

        &__content {
            margin-top: 32px;
            margin-left: 0;

            &--text {
                margin-top: 0;
            }

            &__discription {
                margin: 0 auto;
            }
        }

        &__our {
            margin-bottom: 50px;
        }

        &__other--title {
            margin-top: 0;

        }

        &__other--name {
            font-size: var(--font-size-18);

        }

        &__card {
            &--title {
                font-size: var(--font-size-16);
            }

            &--prices {
                margin-bottom: 20px;
            }

        }



    }

    .tabs {
        &__name {
            margin-top: 0 !important;
        }

        &__content {
            margin-bottom: 50px;
        }


    }

    .customer {

        &__service {
            gap: 10px;

            &--phone,
            &--time,
            &--hotline {
                font-size: 9px;

                // width: 20vw;
                & .customer__service--phone {
                    font-size: 9px;
                }
            }
        }

    }

    .information {
        padding: 25px 0 15px 0;

        &__website {
            margin: 25px 0 25px 0;

            &--list {
                // gap: 20px;
                font-size: 9px;
            }
        }

        &__copy--right {
            font-size: 9px;

        }
    }


}

@media screen and (max-width:640px) {
    .product {

        &__pair,
        &__other--colections {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }


    }

    .customer__service {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }


}

@media screen and (max-width:600px) {
    .header-logo {
        display: none;
    }

    .information__website--item:nth-child(2),
    .information__website--item:nth-child(4),
    .information__website--item:nth-child(6),
    .information__website--item:nth-child(8),
    .information__website--item:nth-child(10) {
        display: none;
    }

    .product__content {
        margin-bottom: 26px;
        font-size: 12px;

        &--text {
            margin-bottom: 12px;
        }
    }

}

@media screen and (max-width:480px) {
    .mySwiper .swiper-slide {
        padding: 4px 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 170px;

    }

    .product {
        &__our {
            margin-bottom: 20px;

            &--title {

                margin-bottom: 5px;
                font-size: 20px;
            }
        }

        &__other {

            padding-top: 20px;
            padding-bottom: 20px;

            &--title {
                font-size: 20px;
            }
        }

        &__name {
            font-size: 20px;

        }

        &__prices {
            font-size: 14px;
        }

        &__details {
            margin-top: 100px;

        }

        &__actions &__btn {
            width: 30vw;

            & .product__btn--text {
                font-size: 12px;
            }

        }


        &__content {
            margin-bottom: 5px;
        }
    }

    .tabs {
        padding: 0 var(--padding-20);

        &__content {
            padding: 0;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        & .tabs__define:nth-child(2),
        & .tabs__define:nth-child(3) {
            margin-bottom: 5px;
        }

        &__name {
            gap: 25px;
            white-space: nowrap;

            & .tablinks.active {
                font-size: 14px;

            }

            &--london,
            &--paris {
                font-size: 14px;
            }

        }

        &__policy {
            font-size: 12px;
        }

        &__title {
            font-size: 16px;
        }

        &__text {
            font-size: 12px;
        }

        &__define {
            font-size: 12px;
        }
    }

    .information {

        &__copy,
        &__website {
            display: none;

        }
    }

    .customer__service {
        gap: 0;
    }
}

@media screen and (max-width:320px) {

    .swiper-button-next,
    .swiper-button-prev {
        top: 130px;

    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 30px;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 30px;
    }
}