@media screen and (max-width:1200px) {

    :root {
        --font-weight-3: 200;
        --font-weight-4: 200;
        --font-weight-5: 300;
        --font-weight-6: 400;
        --font-weight-7: 600;
        /*  */
        --font-size-14: 12px;
        --font-size-15: 13px;
        --font-size-16: 14px;
        --font-size-18: 16px;
        --font-size-24: 20px;
        --font-size-32: 30px;
        --font-size-36: 34px;
        --font-size-48: 46px;
        /*  */

    }

// .header-scroll-fixed,.product__other,.product__our,.store__phone,.product__details{
//     padding: 0 20px;

// }

    .header {
        font-size: var(--font-size-15);
        font-weight: var(--font-weight-5);
    }

    .store__phone {

        &--call,
        &--mes {
            margin-left: 0;
        }

    }

    .product {
        &__btn {

            &--add,
            &--order {
                padding: 10.5px 60px;
            }
        }
    }


    .swiper {
        &-slide &-backface-hidden {
            width: 420px;
            padding: 20px 0;
            border-radius: 10px;
            background-color: black;
        }
    }

    .product__slider {
        display: block;
        width: 60%;
        height: 80%;

    }
}

@media screen and (max-width:1120px) {
    :root {
        --font-weight-6: 400;

        --font-size-16: 14px;

        /*  */
    }



    .product {
        &__btn {

            &--add,
            &--order {
                padding: 10.5px 50px;
            }
        }


        &__quantity {
            width: 6vw;

            &--minus,
            &--plus {
                height: 21px;
                width: 10px;
            }

            &--qty {
                font-size: var(--font-size-16);
                font-weight: var(--font-weight-6);

            }
        }
    }
}


@media screen and (max-width:1080px) {
    :root {
        --font-weight-3: 200;
        --font-weight-4: 200;
        --font-weight-5: 300;
        --font-weight-6: 400;
        --font-weight-7: 600;
        /*  */
        --font-size-14: 12px;
        --font-size-15: 13px;
        --font-size-16: 14px;
        --font-size-18: 16px;
        --font-size-24: 20px;
        --font-size-32: 30px;
        --font-size-36: 30px;
        --font-size-48: 46px;

    }


    .product {
        &__btn {

            &--add,
            &--order {
                padding: 10.5px 30px;
            }
        }

        &__name {
            font-size: var(--font-size-36);
            font-weight: var(--font-weight-7);
            line-height: 47px;
            letter-spacing: 0.025em;
        }

        &__details {
            gap: 90px;

        }


    }

}

// ------------------------

@media screen and (max-width:1024px) {
    :root {
        --font-weight-3: 200;
        --font-weight-4: 200;
        --font-weight-5: 300;
        --font-weight-6: 400;
        --font-weight-7: 600;
        /*  */
        --font-size-14: 12px;
        --font-size-15: 13px;
        --font-size-16: 14px;
        --font-size-18: 16px;
        --font-size-24: 20px;
        --font-size-32: 30px;
        --font-size-36: 30px;
        --font-size-48: 46px;

    }
}