.swiper-wrapper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    width: 10px;
  }
  
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 54px;
  }
  
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 54px;
  }
  
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    font-size: 15px;
    color: #CFCFCF;
  }
  
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    color: #CFCFCF;
    font-size: 15px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  
  .swiper {
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background: url(1-teaserlogo-classic);
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    height: 20%;
  
  }
  
  .mySwiper {
    height: 10%;
    box-sizing: border-box;
    width: 80%;
   gap: 50px;
    padding-top: 10px;
  }
  
  .mySwiper .swiper-slide img {
    padding: 5px;
    margin: 10px 4px;
  
  }
  
  
  
  .mySwiper .swiper-slide {
    width: 20%;
    height: 40%;
    border: none;
  
  }
  
  
  .mySwiper img {
    width: 60px;
    height: 60px;
  }
  
  .swiper-backface-hidden .swiper-slide {
    width: 589px;
    padding: 30px 0;
    background-color: black;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    border: 1px solid #A5A5A5;
  
  }
  
  
  
  .swiper-slide img {
    display: block;
    width: 50%;
    height: 40%;
    object-fit: cover;
    background-color: black;
  
  }
  
  .product__slider {
    display: block;
    width: 40%;
    height: 100%;
  }