.tabs {
    &__name {
        display: flex;
        justify-content: center;
        margin-top: 77px;
        gap: 48px;
        font-family: var(--ff-roboto-condensed);
        font-size: var(--font-size-18);
        font-weight: var(--font-weight-4);
        line-height: 23px;
        letter-spacing: 0.025em;

        & .tablinks::after {
            position: absolute;
            top: 37.3px;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: '.';
            color: transparent;
            background-color: black;
        }

        & .tablinks.active::after {
            width: 100%;
            height: 3px;
        }

        & .tablinks.active {
            color: #CB9D37;
        }

        &--london {
            color: #A5A5A5;
        }

        &--Paris {
            color: #A5A5A5;
        }

        & .tablinks {
            position: relative;
        }
    }

    &__hr {
        height: 1px;
        width: 100%;
        margin-top: -3px;
        background-color: #F2F2F2;
    }

    &__content {
        max-width: 785px;
        min-width: 280px;
        margin: 0 auto;
        // padding: 0 201px;
        margin-top: 48px;
        margin-bottom: 106px;
        font-family: var(--ff-Poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-4);
        list-style: block;
        line-height: 24px;
        letter-spacing: 0em;

        & ul {
            margin: 0;

        }

    }

    &__text {
        margin-bottom: 60px;
    }

    &__title {
        margin: 0;
        padding-left: 20px;
        font-family: var(--ff-Poppins);
        font-weight: var(--font-weight-7);
        font-size: var(--font-size-24);
        line-height: 36px;
    }

    &__define {
        margin-top: 0;
    }

    &__define:nth-child(4) {
        margin-bottom: 0;
    }

    &__warranty {
        margin: 0;
        gap: 25px;
        font-family: var(--ff-Poppins);
        font-weight: var(--font-weight-7);
        font-size: var(--font-size-16);
        line-height: 24px;
    }

    &__policy {
        margin: 0;
    }

}