.product{
    &-container {
        padding: 0 127px 0 124px;
    }
    &-wrapper {
        display: flex;
        // justify-content: space-between;
        // column-gap: 115px;
    }

    &-swiper {
        max-width: 589px;
        width: 100%;
        height: 100%;
        margin-right: 115px;
    }
    .swiper {
        &-slide {
            width: 589px;
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;

            &-img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-button-next,
        &-button-prev {
            color: #cfcfcf;
        }
        
        &-button-next::after,
        &-button-prev::after {
            color: #cfcfcf;
            font-size: 12px;
        }

        &-button-next::after {
            left: 54px;
        }

        &-button-prev {
            left: 54px;
            right: auto;
        }

        &-button-next {
            left: auto;
            right: 54px;
        }
    }

    .mySwiper {
        margin-top: 18px;
        max-width: 540px;
        width: 100%;
        // height: 20%;
        box-sizing: border-box;
    }

    .slide {
        &-view {
            opacity: 0.4;
            border: 1px solid transparent;
            padding: 9px;
        }
    }

    .swiper-slide-thumb-active {
        border: 1px solid #a5a5a5;
        opacity: 1;
    }
}