
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --font-weight-3: 300;
    --font-weight-4: 400;
    --font-weight-5: 500;
    --font-weight-6: 600;
    --font-weight-7: 700;
    /*  */
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-32: 32px;
    --font-size-48: 48px;
    /*  */
    --color-black: #000000;
    --box-color: #E1E1E1;
    --border-radius: 10px;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;

}

/*  */
.container .header {
    box-shadow: 0px 0px #0000001A;
    width: 100%;

}


html{
    scroll-behavior:smooth;
}

.container {
    max-width: 1194px;
    width: 100%;
    margin: 0 auto;
}
.header-scroll-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
}
.wrapper {
    max-width: 1920px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
}

.menu {
    display: none;
}

.header-hamburger {
    display: block;
}

.header-navbar-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    margin-left: 10px;

}

.header-navbar-item {
    font-family: var(--ff-montserrat);
    font-size: var(--font-size-15);
    line-height: 18px;
    font-weight: var(--font-weight-4);
    letter-spacing: 0em;

}

.header-navbar-link:hover,
.header-navbar-links:hover {
    color: #9D9D9D;

}

.header-navbar-link {
    color: var(--color-black);
}

.header-navbar-mycart {
    height: 23.7px;
    width: 24px;
    padding: 4px 10px 4px 10px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: var(--color-black);
    color: #FFFFFF;
}

a {
    text-decoration: none
}

.header-logo {
    position: relative;
    width: 60px;
    height: 60px;
    background: #C4C4C4;
    border-radius: var(--border-radius);
}

.swiper-button-prev.swiper-button-next {
    width: 16px;
    height: 28px;
    left: 364px;
    top: 466px;

}

.swiper-button-prev::after {
    color: var(--color-black);
}

.swiper-button-next::after {
    color: var(--color-black);
}


.swiper {
    height: 800px;
    left: 0px;
    border-radius: 0px;
    background-color: var(--box-color);
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
}

.swiper-pagination {
    position: absolute;
    bottom: 20px;

}

.swiper-slide-content {
    position: absolute;
    top: 35%;
    left: 10%;
}

.swiper-slide-content .swiper-slide-title {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 59px;
    font-family: var(--ff-montserrat);
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-7);
    color: var(--color-black);

}

.swiper-slide-content .swiper-slide-text {
    width: 45%;
    margin-top: -16px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: var(--ff-roboto);
    font-size: var(--font-size-15);
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    font-weight: var(--font-weight-4);
}

.feature-product {
    margin-top: 140px;
    margin-bottom: 150px;
}

.feature-product-title {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-family: var(--ff-montserrat);
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-7);
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;

}

.feature-product-content {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.feature-product-left {
    height: 580px;
    width: 580px;
    border-radius: var(--border-radius);
    background-color: var(--box-color);

}

.feature-product-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 580px;
    /* width: 580px; */
    align-items: center;
    gap: 32px;
}

.feature-product-right-card {
    display: flex;
    justify-content: center;
    gap: 32px;
    width: 580px;
    height: 274px;
    border-radius: var(--border-radius);
}

.feature-product-card-list1 {
    height: 274px;
    width: 274px;
    padding-left: 15px;
    border-radius: var(--border-radius);
    background-color: var(--box-color);
}

.feature-product-card-list2 {
    height: 274px;
    width: 274px;
    border-radius: var(--border-radius);
    background-color: var(--box-color);
}

.feature-product-right-card1 {
    width: 580px;
    height: 274px;
    padding-bottom: 5%;
    /* padding-left: -10%; */
    border-radius: var(--border-radius);
    background-color: var(--box-color);

}

/* our product */
.our-product {
    max-width: 1194px;
    max-width: 1194px;
    width: 100%;
    margin: 0 auto;
}

.our-product-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    margin-top: 32px;
    margin-bottom: 32px;
    gap: 128px;
    border-radius: var(--border-radius);
    list-style: none;
    background-color: var(--box-color);
    font-family: var(--ff-montserrat);
    font-size: var(--font-size-18);
    font-style: normal;
    text-align: center;
    color: #656565;
}

.our-product-links {

    font-weight: var(--font-weight-7);
}


.our-product-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    justify-content: center;
    grid-gap: 33px 33px;
    width: 100%;
    height: auto;
}

.our-product-card .card-img {
    align-items: center;
    background-color: var(--box-color);
    /* width: 376px; */
    height: 247px;
    border-radius: var(--border-radius);
}

.card-desc .card-desc-name {
    width: 376px;
    height: 26px;
    margin-top: 16px;
    text-overflow: ellipsis;
    /* Needed to make it work */
    overflow: hidden;
    white-space: nowrap;
    font-family: var(--ff-montserrat);
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-20);
    line-height: 130%;
    color: #404040;
}

.card-desc .card-desc-prices {
    width: 49px;
    height: 18px;
    font-family: var(--ff-montserrat);
    font-weight: var(--font-weight-4);
    font-size: var(--font-size-15);
    line-height: 18px;
    color: #404040;
}

.our-product-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: var(--ff-montserrat);
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-7);
    line-height: 39px;
    letter-spacing: 0em;
    color: var(--color-black);
}

/* hover-- */
/* our-product-nav */
.our-product-link:hover {
    color: black;
    /* font-weight: bolder; */
}

.our-product-link,
.our-product-links {
    position: relative;
}

.our-product-links::after {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background-color: black;
}

.our-product-link::after {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background-color: black;
}

.our-product-links::after {
    width: 100%;
    height: 4px;
}

.our-product-link:hover::after {
    width: 100%;
    height: 4px;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 900px;
    margin-top: 75px;
    align-items: center;
    background-color: var(--box-color);
}

.about-us-content {
    width: 38%;

    text-align: center;
}

.about-us-title {
    margin-top: -15px;
    font-family: var(--ff-montserrat);
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-7);
    line-height: 39px;
    text-align: center;
    color: var(--color-black);
}

.about-us-text {
    display: flex;
    justify-content: center;
    margin-bottom: 47px;
    font-family: var(--ff-roboto);
    font-weight: var(--font-weight-4);
    font-size: var(--font-size-15);
    line-height: 18px;
    text-align: center;
    color: #404040;
}

.about-us-read-more {
    padding: 16px;
    width: 172px;
    border-radius: 10px;
    font-family: var(--ff-roboto);
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-4);
    line-height: 18px;
    text-align: center;
    color: #F2F2F2;
    background-color: #333333;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    left: 0px;
    top: 0px;
    align-items: center;
    border-radius: 0px;
    background-color: #404040;
}

.footer-form {
    height: 126px;
}

.footer-info-copyright {
    height: 32px;
}

.hr__sect {
    width: 100%;
    margin-top: 96px;
    height: 1px;
    background-color: #606060;
    color: aliceblue;
}

.footer-infor {
    margin-top: 8px;
}

.hr__sect2 {
    width: 100%;
    margin-top: 48px;
    height: 1px;
    background-color: #606060;
    color: aliceblue;
}

.footer-form .footer-form-input {
    height: 48px;
    width: 616px;
    padding-left: 20px;
    left: 652px;
    top: 104px;
    border-radius: 40px;
    background-color: #FFFFFF;
    outline: none #FFFFFF;
    border: solid #FFFFFF;
}

.footer-form .footer-form-btn {
    width: 100px;
    height: 48px;
    margin-left: -106px;
    border-radius: 24px;
    border: 2px solid #FFFFFF;
    font-family: var(--ff-poppins);
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-6);
    line-height: 150%;
    background-color: #FFFFFF;
}

a {
    color: #000000;
}

.footer-form .footer-form-title {
    margin-top: 64px;
    margin-bottom: 16px;
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-16);
    font-family: var(--ff-poppins);
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.footer-infor {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    gap: 165px;
    line-height: 30px;
}

.footer-infor-brand {
    height: 39px;
    left: 491px;
    top: 280px;
    padding-top: 30px;
    font-weight: var(--font-weight-7);
    line-height: 39px;
    font-size: var(--font-size-32);
    font-family: var(--ff-montserrat);
    color: #FFFFFF;
}

.footer-infor-list {
    list-style: none;
    color: #FFFFFF;
}

.footer-circle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 20px;
}

.footer-circle-item {
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
}

.footer-infor-color {
    color: #9D9D9D;
    padding-bottom: 10px;
    font-family: var(--ff-montserrat);
}

.footer-info-copyright {
    padding-top: 20px;
    color: #FFFFFF;
    font-family: var(--ff-montserrat);
    font-size: 13px;
    font-style: normal;
}