@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.wrapper {
    max-width: 1920px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.menu {
    display: none;
}
.hamburger {
    display: none;
}

.header__navbar ul li a.active {
    color: #000000;
}
.navbar__nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    margin-left: 10px;

}

.navbar__nav li {
    font: 15px 'Montserrat', sans-serif;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0em;

}

.nav__item a {
    color: #000000;
}

.nav__item span {
    height: 24px;
    width: 24px;
    padding: 4px 10px 4px 10px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #000000;
    color: #FFFFFF;
}

a {
    text-decoration: none
}

.header__logo {
    position: relative;
    width: 60px;
    height: 60px;
    background: #C4C4C4;
    border-radius: 10px;
}

.header__logo a {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font: 20px 'Roboto', sans-serif;
    font-weight: 700px;
    line-height: 24px;
    text-align: left;

}

#swiper__pagination--style {
    height: 800px;
}

.swiper-button-prev.swiper-button-next {
    width: 16px;
    height: 28px;
    left: 364px;
    top: 466px;

}

.swiper-button-prev::after {
    color: #000000;
}

.swiper-button-next::after {
    color: #000000;
}


.swiper {
    height: 600px;
    left: 0px;
    top: 80px;
    border-radius: 0px;
    background: #E1E1E1;
}

#swiper__slide {
    height: 900px;
    background-color: #E1E1E1;

}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}


.swiper-pagination {
    position: absolute;
    bottom: 20px;

}

.slide__text {
    position: absolute;
    left: 10%;
}

.slide__text h1 {
    display: flex;
    justify-content: left;
    width: 379px;
    height: 59px;
    font: 48px 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 59px;
    color: #000000;
}

.slide__text p {
    width: 487px;
    height: 76px;
    font: 15px 'Roboto', sans-serif;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    font-size: 15px;
    font-weight: 400px;
}

.feature__product {
    margin-top: 150px;
    margin-bottom: 150px;
}

.title__feature {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    border-radius: nullpx;
    font-family: 32px 'Montserrat', sans-serif;
    font-weight: 700px;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;

}

.feature__product--content {
    gap: 32px;
}

.content__center {
    display: flex;
    justify-content: center;

}

.mySwiper {
    width: 76%;
}

.product__left {
    height: 580px;
    width: 580px;
    left: 364px;
    top: 1037px;
    border-radius: 10px;
    background: #E1E1E1;

}

.product__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 580px;
    width: 580px;
    align-items: center;
    gap: 32px;
}

.product__right--left {
    display: flex;
    justify-content: center;
    gap: 32px;
    width: 580px;
    height: 274px;
    border-radius: 10px;
}

.list__item--left {
    height: 274px;
    width: 274px;
    padding-left: 15px;
    border-radius: 10px;
    background: #E1E1E1;
}

.list__item--right {
    height: 274px;
    width: 274px;
    border-radius: 10px;
    background: #E1E1E1;
}

.product__right--right {
    width: 572px;
    height: 274px;
    padding-bottom: 5%;
    padding-left: -10%;
    border-radius: 10px;
    background: #E1E1E1;

}

/* our product */
.container__our-product {
    max-width: 1194px;
    max-width: 1194px;
    width: 100%;
    margin: 0 auto;
}

#nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    margin-bottom: 32px;
    gap: 128px;
    border-radius: 10px;
    list-style: none;
    background-color: #E1E1E1;;
    align-items: center;
    font: 18px 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400px;
    line-height: 22px;
    text-align: center;
    color: #656565;
}

#nav ul li a {
    text-decoration: none;
}

.our__product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    justify-content: center;
    grid-gap: 33px 33px;
    width: 100%;
    height: auto;
}

.box__product .box__img {
    align-items: center;
    background-color: #E1E1E1;;
    width: 376px;
    height: 247px;
    border-radius: 10px;
}

.box__desc .box__desc--name {
    width: 376px;
    height: 26px;
    margin-top: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #404040;
}

.box__desc .box__desc--prices {
    width: 49px;
    height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #404040;
}

.title__our--product {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 32px 'Montserrat', sans-serif;
    font-weight: 700px;
    line-height: 39px;
    letter-spacing: 0em;
    color: #000000;
}

#font__size {
    width: 10px;
    font-style: normal;
    font-weight: 700px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
}

#border__bottom {
    position: absolute;
    width: 100px;
    height: 4px;
    margin-top: 17px;
    background-color: #000000;
}

/* ---------------- */
.about__us {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 900px;
    margin-top: 50px;
    background-color: #E1E1E1;

}

.about__us--content {
    width: 35%;
    text-align: center;

}

#title__about--us {
    font: 32px 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

#text__about--us {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #404040;

}

.read__more {
    padding: 16px;
    width: 172px;
    border-radius: 10px;
    font: 15px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #F2F2F2;
    background-color: #333333;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 530px;
    left: 0px;
    top: 0px;
    align-items: center;
    border-radius: 0px;
    background-color: #404040;

}

.footer__sign--up {
    height: 126px;
}

.footer__info {
    height: 144px;
}

.hr__sect,
.hr__sect2 {
    width: 100%;
    margin-top: 90px;
    top: 40.75%;
    bottom: 59.25%;
    height: 1px;
    background-color: #606060;
    color: aliceblue;
}

.footer__sign--up input {
    height: 48px;
    width: 615px;
    padding-left: 20px;
    left: 652px;
    top: 104px;
    border-radius: 40px;
    background-color: #FFFFFF;
    outline: none #FFFFFF;
    border: solid #FFFFFF;
}

.footer__sign--up button {
    width: 100px;
    height: 48px;
    margin-left: -106px;
    border-radius: 40px;
    border: 7px solid #FFFFFF;
    font: 15px 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    background-color: #FFFFFF;
}

a {
    color: #000000;
}

.footer__sign--up h6 {
    margin-bottom: 2%;
    font: 16px 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.footer__gluxury {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    gap: 165px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.flex__gap1 {
    height: 39px;
    width: 140px;
    left: 491px;
    top: 280px;
    border-radius: nullpx;

    padding-top: 30px;
    font-weight: 700px;
    line-height: 39px;
    font: 32px 'Montserrat', sans-serif;
    color: #FFFFFF;


}

.flex__gap2 ul,
.flex__gap3 ul {
    list-style: none;
    color: #FFFFFF;

}

.flex__gap4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 20px;
}

.list__item--circle {
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
}

#flex__color {
    color: #9D9D9D;
    padding-bottom: 10px;
}

.footer__info {
    padding-top: 20px;
    color: #FFFFFF;
    font: 13px 'Montserrat', sans-serif;
    font-style: normal;
}

.hamburger {
    display: none;
}