@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1194px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    max-width: 1920px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); */
}

.menu {
    display: none;
}

.header-hamburger {
    display: block;
}

.header-navbar-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    margin-left: 10px;

}

.header-navbar-item {
    font: 15px 'Montserrat', sans-serif;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: 0em;

}

.header-navbar-link:hover,
.header-navbar-links:hover {
    color: #9D9D9D;

}

.header-navbar-link {
    color: #000000;
}

.header-navbar-mycart {
    height: 24px;
    width: 24px;
    padding: 4px 10px 4px 10px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #000000;
    color: #FFFFFF;
}

a {
    text-decoration: none
}

.header-logo {
    position: relative;
    width: 60px;
    height: 60px;
    background: #C4C4C4;
    border-radius: 10px;
}

.swiper-button-prev.swiper-button-next {
    width: 16px;
    height: 28px;
    left: 364px;
    top: 466px;

}

.swiper-button-prev::after {
    color: #000000;
}

.swiper-button-next::after {
    color: #000000;
}

.swiper {
    height: 900px;
    left: 0px;
    border-radius: 0px;
    background: #E1E1E1;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.swiper-pagination {
    position: absolute;
    bottom: 20px;

}

.swiper-slide-content {
    position: absolute;
    top: 35%;
    left: 10%;
}

.swiper-slide-content .swiper-slide-title {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 59px;
    font: 48px 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 59px;
    color: #000000;

}

.swiper-slide-content .swiper-slide-text {
    width: 45%;
    font: 15px 'Roboto', sans-serif;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    font-weight: bold;
}

.feature-product {
    margin-top: 150px;
    margin-bottom: 150px;
}

.feature-product-title {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font: 32px 'Montserrat', sans-serif;
    font-weight: bolder;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;

}

.feature-product-content {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.feature-product-left {
    height: 580px;
    width: 580px;
    left: 364px;
    top: 1037px;
    border-radius: 10px;
    background: #E1E1E1;

}

.feature-product-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 580px;
    width: 580px;
    align-items: center;
    gap: 32px;
}

.feature-product-right-card {
    display: flex;
    justify-content: center;
    gap: 32px;
    width: 580px;
    height: 274px;
    border-radius: 10px;
}

.feature-product-card-list1 {
    height: 274px;
    width: 274px;
    padding-left: 15px;
    border-radius: 10px;
    background: #E1E1E1;
}

.feature-product-card-list2 {
    height: 274px;
    width: 274px;
    border-radius: 10px;
    background: #E1E1E1;
}

.feature-product-right-card1 {
    width: 572px;
    height: 274px;
    padding-bottom: 5%;
    padding-left: -10%;
    border-radius: 10px;
    background: #E1E1E1;

}

/* our product */
.our-product {
    max-width: 1194px;
    max-width: 1194px;
    width: 100%;
    margin: 0 auto;
}

.our-product-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    margin-bottom: 32px;
    gap: 128px;
    border-radius: 10px;
    list-style: none;
    background-color: #E1E1E1;
    font: 18px 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400px;
    line-height: 22px;
    text-align: center;
    color: #656565;
}

/* .our-product-nav ul li a {
    text-decoration: none;
} */

.our-product-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    justify-content: center;
    grid-gap: 33px 33px;
    width: 100%;
    height: auto;
}

.our-product-card .card-img {
    align-items: center;
    background-color: #E1E1E1;
    width: 376px;
    height: 247px;
    border-radius: 10px;
}

.card-desc .card-desc-name {
    width: 376px;
    height: 26px;
    margin-top: 22px;
    text-overflow: ellipsis;
    /* Needed to make it work */
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #404040;
}

.card-desc .card-desc-prices {
    width: 49px;
    height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #404040;
}

.our-product-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 32px 'Montserrat', sans-serif;
    font-weight: bold 700px;
    line-height: 39px;
    letter-spacing: 0em;
    color: #000000;
}

.our-product-links {
    width: 10px;
    font-style: normal;
    font-weight: 700px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
}

/* hover-- */
/* our-product-nav */
.our-product-link:hover {
    color: black;
    font-weight: bolder;
}

.our-product-link,
.our-product-links {
    position: relative;
}

.our-product-links::after {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: black;
}

.our-product-link::after {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: black;
}

.our-product-links::after {
    width: 100%;
    height: 4px;
}

.our-product-link:hover::after {
    width: 100%;
    height: 4px;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 900px;
    margin-top: 50px;
    align-items: center;
    background-color: #E1E1E1;
}

.about-us-content {
    width: 38%;
    text-align: center;
}

.about-us-title {
    font: 32px 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bolder;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

.about-us-text {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #404040;
}

.about-us-read-more {
    padding: 16px;
    width: 172px;
    border-radius: 10px;
    font: 15px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #F2F2F2;
    background-color: #333333;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    left: 0px;
    top: 0px;
    align-items: center;
    border-radius: 0px;
    background-color: #404040;
}

.footer-form {
    height: 126px;
}

.footer-info-copyright {
    height: 32px;
}

.hr__sect,
.hr__sect2 {
    width: 100%;
    margin-top: 90px;
    top: 40.75%;
    bottom: 59.25%;
    height: 1px;
    background-color: #606060;
    color: aliceblue;
}

.footer-form .footer-form-input {
    height: 48px;
    width: 615px;
    padding-left: 20px;
    left: 652px;
    top: 104px;
    border-radius: 40px;
    background-color: #FFFFFF;
    outline: none #FFFFFF;
    border: solid #FFFFFF;
}

.footer-form .footer-form-btn {
    width: 100px;
    height: 48px;
    margin-left: -106px;
    border-radius: 24px;
    border: 2px solid #FFFFFF;
    font: 15px 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    background-color: #FFFFFF;
}

a {
    color: #000000;
}

.footer-form .footer-form-title {
    margin-bottom: 2%;
    font: 16px 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.footer-infor {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    gap: 165px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.footer-infor-brand {
    height: 39px;
    left: 491px;
    top: 280px;
    border-radius: nullpx;

    padding-top: 30px;
    font-weight: 700px;
    line-height: 39px;
    font: 32px 'Montserrat', sans-serif;
    color: #FFFFFF;
}

.footer-infor-list {
    list-style: none;
    color: #FFFFFF;
}

.footer-circle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 20px;
}

.footer-circle-item {
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
}

.footer-infor-color {
    color: #9D9D9D;
    padding-bottom: 10px;
}

.footer-info-copyright {
    padding-top: 20px;
    color: #FFFFFF;
    font: 13px 'Montserrat', sans-serif;
    font-style: normal;
}