/* tablet 740px and with <1024 px */
@media only screen and (min-width:900px) and (max-width: 1024px) {
    /* .header {
        padding: 0 50px;
    } */

    .wrapper {
        max-width: 1024px;
        margin: auto;
        height: 500px;
        border-radius: 10px;
    }

    .container {
        width: 90%;
    }

    .our-product-body {
        width: 90%;
    }

    .header-hamburger {
        display: block;
        cursor: pointer;
    }

    .header-hamburger .header-hamburger-line {
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 6px 0;
    }

    .header-navbar {
        width: 100vw;
        height: 0;
        position: absolute;
        top: 80px;
        left: 0%;
        background-color: white;
        /* box-shadow: 5px 5px rgb(0, 0, 30%); */
        box-shadow: 0 0 5px rgb(0, 0, 0, 30%);
        transition: 0.5s;
        overflow: hidden;
        z-index: 10;
    }

    .header-navbar-item {
        margin: auto;
        padding: 15px;
    }

    .header-navbar-list {
        display: block;
        width: fit-content;
        margin: 50px auto;
        padding: 0px;
        text-align: center;
        transition: 0.5s;
        opacity: 1;
    }

    .header-navbar-links,
    .header-navbar-link {
        margin-bottom: 12px;
        color: #000000;
    }

    .header-navbar.header-navbar-link {
        height: 450px;
    }

    .header-navbar-list {
        opacity: 1;
    }

    .swiper-button-prev {
        width: 1%;
        height: 1%;
    }

    .swiper-button-next {
        width: 1%;
        height: 1%;
    }

    .swiper-slide-content.swiper-slide-title {
        font: 40px 'Montserrat', sans-serif;
        font-weight: bolder;
        line-height: 59px;
        color: #000000;

    }

    .our-product-nav {
        width: 100%;
        transition: 0.5s;
    }
    .our-product-link::after {
        top: 25px;
     
    }
    .our-product-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        grid-gap: 28px 28px;
        height: auto;
        padding: 0 50px;
        transition: 0.5s;
    }

    .our-product-card {
        width: 450px;
        border-radius: 10px;
        transition: 0.5s;
    }

    .footer-infor {
        display: flex;
        justify-content: space-around;
        padding-top: 40px;
        gap: 76px;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
    }

}

@media only screen and (max-width:1300px) {
    
    .cotainer {
        width: 90%;
    }

    .our-product-nav-list {
        padding: 0;
    }
    .our-product-link::after {
        top: 25px;
     
        
    }
}

@media only screen and (max-width:840px) {
    .our-product-nav-list {
        /* padding: 0 20px; */
    }
    .our-product-link::after {
        top: 25px;
     
    }
    .our-product-nav {
        width: 100%;
        padding-left: 0;
        transition: 0.5s;

    }

    .our-product-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        grid-gap: 28px 28px;
        height: auto;
        padding: 0 40px;
        transition: 0.5s;

    }

    .our-product-card {
        width: 350px;
        border-radius: 10px;
        transition: 0.5s;

    }
}

@media only screen and (max-width:900px) {
    .wrapper {
        max-width: 1024px;
        margin: auto;
        height: 500px;
        border-radius: 10px;
    }

    .container {
        width: 90%;
    }

    .our-product-body {
        width: 90%;
        transition: 0.5s;
    }
    .our-product-link::after {
        top: 25px;
     
    }

    .header-hamburger {
        display: block;
        cursor: pointer;
    }

    .header-hamburger .header-hamburger-line {
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 6px 0;
    }

    .header-navbar {
        width: 100vw;
        height: 0;
        position: absolute;
        top: 80px;
        left: 0%;
        background-color: white;
        /* box-shadow: 5px 5px rgb(0, 0, 30%); */
        box-shadow: 0 0 5px rgb(0, 0, 0, 30%);
        transition: 0.5s;
        overflow: hidden;
        z-index: 10;
    }

    .header-navbar-item {
        margin: auto;
        padding: 15px;
    }

    .header-navbar-list {
        display: block;
        width: fit-content;
        margin: 50px auto;
        padding: 0px;
        text-align: center;
        transition: 0.5s;
        opacity: 1;
    }

    .header-navbar-links,
    .header-navbar-link {
        margin-bottom: 12px;
        color: #000000;
    }

    .header-navbar.header-navbar-link {
        height: 450px;
    }

    .header-navbar-list {
        opacity: 1;
    }

    .swiper-button-prev {
        width: 1%;
        height: 1%;
    }

    .swiper-button-next {
        width: 1%;
        height: 1%;
    }


    .swiper-slide-content.swiper-slide-title {
        font: 40px 'Montserrat', sans-serif;
        font-weight: bolder;
        line-height: 59px;
        color: #000000;

    }

    .feature-product-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        transition: 0.5s;
    }

    .feature-product-left {
        width: 750px;
        height: 400px;
        transition: 0.5s;

    }

    .feature-product-card-list1 {
        width: 350px;
        height: 250px;
        padding: 0;
        transition: 0.5s;

    }

    .feature-product-card-list2 {
        width: 350px;
        height: 250px;
        transition: 0.5s;

    }

    .feature-product-right-card {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 750px;
        transition: 0.5s;
        
    }

    .feature-product-right-card1 {
        width: 750px;
        transition: 0.5s;


    }

    /* --- */
    .our-product-nav-list {
        padding: 0;
       
    }

    .our-product-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        grid-gap: 28px 28px;
        height: auto;
        padding: 0 50px;
        transition: 0.5s;

    }

    .our-product-card {
        width: 370px;
        border-radius: 10px;
        transition: 0.5s;
    }

    .footer-infor {
        display: flex;
        justify-content: space-around;
        padding-top: 40px;
        gap: 76px;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
    }
}

@media only screen and (max-width:800px) {
    .feature-product-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        transition: 0.5s;

    }

    .feature-product-left {
        width: 700px;
        height: 300px;
        transition: 0.5s;


    }

    .feature-product-card-list1 {
        width: 350px;
        height: 250px;
        padding: 0;
        transition: 0.5s;

    }

    .feature-product-card-list2 {
        width: 350px;
        height: 250px;
        transition: 0.5s;

    }

    .feature-product-right-card {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 700px;
        transition: 0.5s;

    }

    .feature-product-right-card1 {
        width: 700px;
        transition: 0.5s;

    }
    .our-product-link::after {
        top: 25px;
     
    }
    .our-product-nav {
        display: flex;
        flex-direction: column;
        text-align: justify;
        margin: 0 auto;
        transition: 0.5s;

    }

    .our-product-nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        gap: 30px;
        padding: 0;
        align-items: center;
        background-color: #fefefe;
    }

    .our-product-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        grid-gap: 28px 28px;
        height: auto;
        padding: 0 33px;
        transition: 0.5s;

    }

    .our-product-card {
        width: 340px;
        border-radius: 10px;
        transition: 0.5s;

    }

    .card-desc .card-desc-name {
        width: 340px;
    }

    .card-desc .card-desc-prices {
        width: 340px;
    }

    .about-us-content {
        width: 85%;
    }
}

/* 46.1875em */
@media only screen and (max-width:720px) {

    .swiper {
        height: 800px;
        max-height: 800px;
        height: 35vw;
        min-height: 350px;
        background-color: #E1E1E1;
    }

    .swiper-backface-hidden .swiper-slide {
        width: 277px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        color: #000000;
        font-size: 40px;
        margin: auto 10px;
    }

    .swiper-slide-content .swiper-slide-title {
        margin-right: 10px;
        font-size: 30px;
        font-weight: 700px;
        line-height: 59px;
    }

    .swiper-slide-content .swiper-slide-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .mySwiper {
        width: 100%;
    }

    .swiper-slide-content {
        left: 15%;
    }
/* ------------ */
.feature-product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    transition: 1s;

}

.feature-product-left {
    width: 480px;
    height: 300px;
    transition: 1s;


}

.feature-product-card-list1 {
    width: 350px;
    height: 250px;
    padding: 0;
    transition: 1s;

}

.feature-product-card-list2 {
    width: 350px;
    height: 250px;
    transition:1s;

}

.feature-product-right-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 480px;
    transition: 1s;

}

.feature-product-right-card1 {
    width: 480px;
    transition: 1s;

}
.our-product-nav {
        display: flex;
        flex-direction: column;
        text-align: justify;
        margin: 0 auto;
        transition:1s;

    }

    .our-product-nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        gap: 30px;
        padding: 0;
        align-items: center;
        background-color: #fefefe;
    }

    .our-product-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        grid-gap: 28px 28px;
        height: auto;
        transition:1s;

    }
    .our-product-card .card-img{
        width: 480px;
        transition:1s;

    }
    .our-product-card {
        width: 480px;
        transition:1s;


    }
    .card-desc .card-desc-name{
        width: 480px;
        transition:1s;

    }
    .about-us-content {
        width: 85%;
    }
    .footer-infor {
        display: block;
        text-align: center;
        align-items: center;
        align-content: center;
    }
    .footer-form .footer-form-input {
        display: inline-block;
        width: 350px;
        margin-top: 10px;
    }
    .hr__sect,
    .hr__sect2 {
        margin-top: 55px;
    }

    .footer-infor-brand {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    .footer-infor-list {
        padding: 0;
    }
    .footer-infor-rules {
        margin-left: 0px;
        margin-right:0px;
    }
}
/*  */
@media only screen and (max-width:600px){
    .feature-product-left, .feature-product-right-card, .feature-product-right-card1{
        width: 450px;
    }
    .card-desc .card-desc-name{
        width: 450px;
    }
    .our-product-body {
        padding: 0 22px;
    }
    .our-product-card {
        display: block;
        width: 450px;
        border-radius: 10px;
    }
    .our-product-card .card-img{
        width: 450px;
    }
}
@media only screen and (max-width:480px){
    .feature-product-left, .feature-product-right-card, .feature-product-right-card1{
        width: 350px;
    }
    .card-desc .card-desc-name{
        width: 350px;

    }
    .our-product-body {
        padding: 0 22px;
    }
    .our-product-card {
        display: block;
        width: 350px;
        border-radius: 10px;
    }
    .our-product-card .card-img{
        width: 350px;

    }
}

@media only screen and (max-width:380px){

    .feature-product-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        transition: 0.5s;
    }
    .feature-product-left, .feature-product-right-card, .feature-product-right-card1{
        width: 280px;
    }
    .card-desc .card-desc-name{
        width: 280px;
    }
    .our-product-body {
        padding: 0 22px;
    }
    .our-product-card {
        display: block;
        width: 280px;
        border-radius: 10px;
    }
    .our-product-card .card-img{
        width: 280px;
    }

    .footer-form .footer-form-input{
        display: inline-block;
        width: 280px;
        margin-top: 10px;
    }
        
}
