

/* Mobile with <720px */
@media only screen and (max-width: 46.1875em) {
    .header {
        padding: 0 50px;
    }

    .wrapper {
        max-width: 46.1875em;
        margin: auto;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: #000000;
        margin: 6px 0;
    }

    .header__navbar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 1.5px;
        width: 100vw;
        background-color: black;
        transition: 0.5s;
        overflow: hidden;
        z-index: 10;
    }

    .navbar__nav li {
        margin: auto;
        padding: 15px;
    }

    .header__navbar ul {
        display: block;
        width: fit-content;
        margin: 50px auto;
        text-align: center;
        transition: 0.5s;
        opacity: 1;
    }

    .header__navbar ul li a {
        margin-bottom: 12px;
        color: #efefef;
    }

    .header__navbar.active {
        height: 450px;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav__item span {
        display: none;
    }

    .header__navbar ul li a:hover {
        color: rgb(234, 218, 218);
        background-color: #baacac;
    }

    /* the same  slides*/
      /* --slide */
      .swiper-button-prev{
        width: 1px;
        height: 1px;
    }

    .swiper-button-next{
        width: 1px;
        height: 1px;
    }
    .slide__text h1 {
        font: 30px 'Montserrat', sans-serif;
        font-weight: 700;
        line-height: 59px;
        color: #000000;
    }
    .feature__product--content {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 32px;
    }
/* ====== our product*/

#nav{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 0 auto;
}

#nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    gap: 30px;
    align-items: center;
    background-color: #fefefe;
}
#border__bottom {
    position: absolute;
    width: 100px;
    height: 4px;
    margin-top: 1%;
    background-color: #000000;
}

.our__product {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 28px 28px;
    height: auto;
    padding: 0 50px;
   
 }
 .box__product {
    display: block;
    left: 364px;
    top: 1838px;
    border-radius: 10px;
}

.footer__gluxury {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    gap: 76px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
}


/* table740px and with <1024 px */
@media only screen and (min-width:740px) and (max-width: 1024px) {

    .header {
        padding: 0 50px;
    }
    .wrapper {
        max-width: 1024px;
        margin: auto;
        background-color: #555;
        height: 500px;
        color: white;
        border-radius: 10px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: black;;
        margin: 6px 0;
    }

    /* -- */
    .header__navbar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 1.5px;
        width: 100vw;
        background-color: black;
        transition: 0.5s;
        overflow: hidden;
        z-index: 10;
    }

    .navbar__nav li {
        margin: auto;
        padding: 15px;
    }

    .header__navbar ul {
        display: block;
        width: fit-content;
        margin: 50px auto;
        text-align: center;
        transition: 0.5s;
        opacity: 1;
    }

    .header__navbar ul li a {
        margin-bottom: 12px;
        color: #efefef;
    }

    .header__navbar.active {
        height: 450px;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav__item span {
        display: none;
    }

    .header__navbar ul li a:hover {
        color: rgb(234, 218, 218);
        background-color: #baacac;
    }

    /* --slide */
    .swiper-button-prev {
        width: 1%;
        height: 1%;
    }

    .swiper-button-next {
        width: 1%;
        height: 1%;
    }

    .slide__text h1 {
        font: 30px 'Montserrat', sans-serif;
        font-weight: 700;
        line-height: 59px;
        color: #000000;
    }

    .feature__product--content {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 32px;
    }
/* ------------ */

    #nav{
        display: flex;
        flex-direction: column;
        text-align: justify;
        margin: 0 auto;
    }

    #nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        gap: 30px;
        align-items: center;
        background-color: #fefefe;
    }
    #border__bottom {
        position: absolute;
        width: 100px;
        height: 4px;
        margin-top: 1%;
        background-color: #000000;
    }
    .our__product {
       display: grid;
       grid-template-columns: 1fr 1fr;
       justify-content: center;
       grid-gap: 28px 28px;
       height: auto;
       padding: 0 50px;
      
    }

    .box__product {
        display: block;
        left: 364px;
        top: 1838px;
        border-radius: 10px;
    }

    .footer__gluxury {
        display: flex;
        justify-content: space-around;
        padding-top: 40px;
        gap: 76px;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
    }
}

/* moble and tablet */
@media only screen and (max-width:63.9375em) {
    .header {
        padding: 0 30px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}